<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Enjoy the most exotic animals of our zoo
            <br>
            <a class="btn btn-primary btn-lg btn_home" role="button" [routerLink]="['/animals']">
                Go animals!
            </a>
            <a class="btn btn-success btn-lg btn_home" role="button" [routerLink]="['/keepers']">
                Go keepers!
            </a>
            <a class="btn btn-warning btn-lg btn_home" role="button" [routerLink]="['/contact']">
                Contact with us!
            </a>
        </p>
    </div>
</div>
<div class="clearfix"></div>