h3 a {
    color: black;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.btn_home {
    margin-top: 5px;
    margin-right: 10px;
}

.navigation.col-lg-12 {
    margin-top: 10px;
}

.navbar-default .nav>li>a:hover {
    transition: all 300ms !important;
    border-bottom: 3px solid orange !important;
}

.navbar-default .nav>li>a {
    transition: all 300ms;
    border-bottom: 3px solid transparent;
    margin-right: 20px;
}

.nabvar-nav {
    display: inline-flex;
}

.nav>li>a {
    padding: 0px 0px !important;
}

.dropdown-toggle {
    margin-top: 12px;
}


.jumbotron {
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #337ab7;
}

.image_for_edit img {
    width: 60px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 700px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
}

.avatar img {
    width: 45px;
}

.animal-image-mask, 
.keeper-image-mask {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.btn_transiciones {
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(128, 62, 0);
    transition: border 2s, border-radius 500ms, background 5s;
    display: block;
    width: 100px;
}

.btn_transiciones:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    background: #ccc;
    border: 1px solid red;
}

.caja_animada {
    margin-top: 15px;
    background: green;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    /*animation-name: rotar;
    animation-duration: 10s;
    animation-iteration-count: infinite;*/
}

@keyframes deslizar1 {
    from {}
    to {
        margin-left: 400px;
        background: red;
    }
}

@keyframes deslizar2 {
    0% {}
    50% {
        margin-left: 400px;
        background: red;
    }
    25%{
        border-radius: 80%;
        background: orange;
    }
    100% {
        margin-left: 0px;
        background: yellow;
    }
    
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        margin-left: 400px;
        transform: rotate(360deg);
    }
}